# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# TensorFlow Models
*.h5
*.keras

# Dataset
dataset/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Output Images
outputs/*.png
outputs/*.jpg

# Python Cache
.pytest_cache/
